<div class="row">
 <a href="http://marriagetoday.uscreen.io/subscriptions"><img src="http://www.marriagetoday.com/_media/images/uscreen/MarriageToday-Now-Home.jpg" alt="" class="banner" /></a>
</div>
