<form action="/search" id="search" class="search-form" accept-charset="UTF-8" method="get">
  <input type="text" name='condition' id="condition" placeholder="Search..." value="{{search.condition}}">
  <button type="submit" id='searchSubmit' class='search'><i class="fa fa-search"></i></button>
</form>
